/* The css stuffs. yay! */

/* ====================== */
/* Vertical Radio Buttons */
/* ====================== */
.list-group-btn {
    text-align: left;
    border-radius: 0px;
    border-color: rgb(201, 201, 201);
    padding: 6px 12px;
}

.btn-group-vertical {
  margin-bottom: 20px;
}

.btn-group-vertical .btn {
  text-align: left;
}

.btn-group-vertical .btn.active {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}

/* ================== */
/* Dropdown Selectors */
/* ================== */
.dropdown-toggle, .dropdown-menu * {
    cursor: pointer;
}
