/* The css stuffs. yay! */

/* a utility class */
.no-padding {
  padding-left: 0;
}

/* tweaking the relaiton list buttons */
.list-group-btn {
    text-align: left;
    border-radius: 0px;
    padding: 6px 12px;
}

/* By default, buttons inside button groups inside vertical button groups
 * don't resize to their column. Not sure why? */
.btn-group-vertical .btn {
  text-align: left;
}

.btn-group-vertical .btn.active {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}

hr {
  margin-top: 0;
}

/* making the dropdown-toggles more noticable */
.dropdown-toggle {
    cursor: pointer;
}
