<!DOCTYPE html>
<html ng-app='UsefulPiecesApp'>
<head>
  <title>Useful Pieces</title>
  <meta charset="utf-8">
  <link rel='stylesheet' href='lib/css/bootstrap-3.css'>
  <link rel='stylesheet' href='css/useful-pieces.css'>
</head>
<body>
<div class='container' ng-controller='UsefulPiecesController'>
    <h1 class='text-center'>Useful Pieces</h1>

    <h3>Vertical Radio Buttons</h3>
    <div class='row'>
      <div class='col-lg-3 list-group list-group-sm'>
        <li class='btn btn-default list-group-item list-group-btn' ng-repeat='item in vertical_radio_buttons' ng-model='$parent.selected_button' btn-radio='item' ng-bind='item'></li>
      </div>
      <div class='col-lg-6'>
        <p class='well' ng-bind='"selected button is: \"" + selected_button + "\""'></p>
        <em>* See "Vertical Radio Buttons" note</em>
      </div>
    </div>
    <hr>

    <h3>Dropdown Selectors</h3>
    <div class='row'>
      <div class='dropdown well col-lg-3'>
        Current item is <span class='dropdown'>
          <a class='dropdown-toggle' ng-bind='"\"" + selected_dropdown + "\""'></a>
          <ul class='dropdown-menu'>
            <li ng-repeat='item in dropdown_items'>
              <a ng-click='$parent.selected_dropdown = item' ng-bind='item'></a>
            </li>
          </ul>
        </span>
      </div>
    </div>
    <em>* See "Dropdown Selectors" note</em>

  </div>
  <script type='text/javascript' data-main='js/main' src='lib/js/require.js'></script>
</body>
</html>
<!-- vim: set tw=0 : -->
